* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
body {
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 8fr;
  height: 100vh;
  gap: 20px;
  background-color: #083344;
  font-weight: bold;
}
/* LISTS */
.left {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 14fr;
  gap: 20px;
}

.title {
  grid-row: 1 / 2;
  background-color: #8595e7;
}
.left .title {
  text-align: right;
  border-bottom-right-radius: 20px;
}

.list,
.task {
  grid-row: 2 / 3;
}

h2 {
  font-size: 2rem;
  padding: 10px 20px 0 20px;
}

#listField {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  background-color: #22d3ee;
}
.left .buttonsBox {
  position: absolute;
  bottom: 20px;
  left: 10px;
}
.list ul li,
.task ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.2rem;
  padding: 5px 10px;
}
.list ul li {
  margin: 20px 0 0 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #0e7490;
  color: #fff;
}
.list ul li.listDescription {
  display: none;
  margin-top: 0;
  background-color: #ecfeff;
  color: #000;
}

.deleteList {
  display: none;
}
.deleteList:hover {
  color: #ff0000;
  cursor: pointer;
}

/* TASKS */
.right {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 14fr;
  gap: 20px;
}
.task ul li {
  margin: 20px;
  border-radius: 20px;
}

.right .title {
  border-bottom-left-radius: 20px;
}
#taskField {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  background-color: #a5f3fc;
}
.right .buttonsBox {
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.task ul li {
  color: #fff;
  background-color: #164e63;
}
.done {
  opacity: 0.7;
  text-decoration: line-through;
}

/* BUTTONS */
.roundButton {
  color: #fff;
  padding: 5px 12px;
  font-size: 2.5rem;
  border-radius: 100px;
  background-color: #083344;
  margin: 10px;
  cursor: pointer;
}
button:hover {
  color: #7c9159;
}
.spanLink {
  cursor: pointer;
}
.spanLink:hover {
  color: #7c9159;
}

/* MODAL DIALOG */
.modal {
  z-index: 3;
  margin: 0 auto;
  top: 25%;
  padding: 20px;
  border-radius: 20px;
  background-color: #3c4952;
  width: 500px;
}

.newTitle {
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 5px;
  text-align: center;
  background-color: #8595e7;
}
.formQuestion {
  color: #fff;
  background-color: #0e7490;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 4px 0 1px 14px;
  margin: 10px 0 0 0;
}
input {
  background-color: #ecfeff;
  height: 2rem;
  font-size: 1rem;
  padding: 4px;
  width: 100%;
  border: none;
}
.modalBackground {
  background-color: #cffafe;
  border-radius: 20px;
}
#listDescriptionArea {
  background-color: #ecfeff;
  font-size: 1rem;
  padding: 4px;
  resize: none;
  width: 100%;
  border: none;
}

.modal .buttonsBox {
  display: flex;
  justify-content: space-between;
}
#modalTask .priorityButtons {
  display: flex;
  flex-direction: column;
}
#modalTask .priorityButtons button {
  padding: 4px;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
}
#modalTask .priorityButtons button:hover {
  color: #7c9159;
}
#modalTask .priorityButtons button:active {
  color: #ff0000;
}

.highPriority {
  background-color: #083344;
}
.mediumPriority {
  background-color: #164E63;
}
.lowPriority {
  background-color: #155E75;
}